header{
  display: grid;
  grid-template-columns: 15% 70% 15%;
  background: rgba(196, 196, 196, 0.90);
  transition: all 1s;
  z-index: 1;
}
body{
  background: #ffffff;
}
p{
  text-indent: 3em;
  text-align: justify;
}
a {
  font: normal 700 16px/20px "Roboto",Helvetica,Arial,Verdana,sans-serif;
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(currentColor, red );
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size .4s;
  color: #d0cfc5;
}
a:hover,
a:focus{
  background-size: 100% 3px;
}
.container {
  height: 100%-100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  background-image:url(./images/data-center.jpg);
  /* bottom: -100px; */
}
.container > * {
  color: #353535;
  font-size: 1em;
  line-height: 1.5;
  padding: 20px;
}
.container nav {
  top:0px;
  display:inline;
  position: sticky;
  background: #0e0e0eee;
  transition: all 0.3s;
  z-index: 1;
}
.container nav ul {
  width: 70%;
  margin: 0px 0px 0px -50px;
  list-style: none;
}
.container nav ul li {
  padding: 0px 10px;
}
.container section,
.container aside{
  background: rgba(255, 255, 255, 0.9);
}
.container section{
  min-height: 800px;
  background-color: rgba(220, 220, 220, 0.9);
  padding: 0px 80px;
}
.container section article h2 ul li{
  display: inline;
}
.container aside{
  font-size: 0.8em; 
}
.aside hr{
  width: 80%;
}
.container footer{
  background: rgba(50, 50, 50, 0.90);
  font-size: 0.7em; 
  color: #d0cfc5;
  bottom: 0px;
  padding: 0px 5px;
  display:inline;
  position: fixed;
  right: 7px;
  left: 7px;
  transition: transform 0.5s;
  z-index: 1;
}
.menu{
  padding: 0px;
  width: 100px;
  position: absolute;
}
.logo{
  width: 30%;
  opacity: 0;
  transition: all 1s;
}
.logo-cont{
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 20px;
  width: 350px;
  height: 50px;
}
.logo-header{
  min-width: 250px;
  max-width: 700px;
  width: 90%;
  opacity: 1;
  transition: all 1.5s;
}
.logo-sigla{
  animation: rotar 4s;
}

.centrado{
  justify-self: center;
  align-self: center;
}
.sombreado{
  box-shadow: 2px 2px 5px rgb(60, 60, 60);
}
.galery{
  width: 100%;
  display: grid;
  gap: 35px;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
}
.card{
  overflow: hidden;
  opacity: 0;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.6);
  color: #333;
  grid-column: span 1;
  height: 300px;
  perspective: 1000px;
  transition: all 1s linear;
}
.card_img{
  height: 200px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  vertical-align:middle;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}
.card:hover .card_img{
  transform: rotateY(180deg);
}
.box{
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.box.bf{
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  font-family: Verdana;
  font-family: 'PT Sans';
  font-weight: bold;
  font-style: oblique;
  line-height : 18px;
  transform: rotateY(180deg);
}
.mostrarArriba{
  animation: mostrarArriba 1s;
}
.card h4{
  text-align: center;
  height: 50px;
}
.card h4 a{
  color:black;
  font-size: 1.1em; 
}
.card_img img{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.persona{
  padding-top: 50px;
  display: grid;
  width: 100%;
  min-height: 280px;
  height: 100%;
  align-items: center;
  justify-content: last baseline;
  perspective: 1000px;
  transition: all 1s linear;
}
.foto{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-column: span 1;
  grid-row: span 1;
  /* backface-visibility: hidden; */
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  animation: girar 6s;
}
.cont-img{
  position: absolute;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 1px 1px 10px #484848;
  backface-visibility: hidden;
  transition: all 0.5s linear;
}
.cont-img-logo{
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #fff;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  background-color: white;
  animation: rotar2 6s;
  opacity: 0;
}
.persona:hover .foto{
  transform: rotateY(180deg);
}
.cont-img.face{
  opacity: 1;
  transform: rotateY(180deg);
}
.cont-img img{
  width:150px;
}
.face img{
  transition: all 0.5s linear;
  position: relative;
  top: -30px;
}
.cont_formularios{
  width: 100%;
  height: 100%;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  overflow: hidden;

}
.formularios{
  border: none;
  /* width: 100%; */
  height: 100%;
  overflow: hidden;
}

.scroll-down .footer{
  transform: translate3d(0, 100%, 0);
}
.scroll-up .footer{
  transform: none;
}
#inicio{
  display: none;
}
#m_social{
  display: none;
  position:absolute;
  bottom: 30px;
  width: 100%; 
  height: 50px;
  text-align: center;
}
#m_social a,
#footer a{
  padding: 0px 5px; 
  background: none;
}
#m_social a img,
#footer a img{
  margin: 5px; 
  background: white;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}
#m_social a img:hover,
#footer a img:hover{
  transform : scale(1.3);
}
#contacto{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-content: center
}
#nombre{
  width: 100%;
  text-align: center;
}
#capa{
  grid-column: span 1;
  grid-row: span 3;  
}
#head-desc{
  display: block;
  position:absolute;
  top: 10px;
  right: 20px;
  font-size: 1em; 
  transition: all 1.5s;
}
#sitios,
#servicios,
#contacto{
  display: none;
  grid-column: 1/ span 4;
}
#describe,
#des-aside{
  display: none;
}
#cont-des-aside{
  width: 100%;
  display: grid;
  row-gap: 0px;
  column-gap: 35px;
  grid-template-columns: repeat(1, 1fr);
  vertical-align:middle;
  justify-self: center;
}
@keyframes girar{
  40%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(1440deg);
  }
  60%{
    transform: rotateY(720deg);
  }
  80%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}
@keyframes rotar{
  40%{
    transform: rotate(1440deg);
  }
  80%{
    transform : scale(1.3);
  }
  100%{
    transform : scale(1);
  }
}
@keyframes rotar2{
  0%{
    opacity: 1;
    }
  40%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes mostrarArriba{
  0%{
    transform: translateY(300px);
  }
  100%{
    transform: translateY(0px);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: black;
  }
  .container section{
    background-color: rgba(62, 62, 62, 0.9);
    color: #fff;
    padding: 0px 80px;
  }
  .formularios{
    color: #fff;
  }  
  .card{
    background-color: rgb(150, 150, 150);
    color: #fff;
  }
  .container aside{
    background-color: rgb(180, 180, 180, 0.9);
  }
}
@media only screen and (max-width: 599px) {
  header{
    top: 0px;
    display:inline;
    height: 20px;
    position: sticky;
    background: #0e0e0eee;
  }
  .container section{
    padding: 0px 20px;
  }
  .container nav ul {
    width: 100%;
  }
  .logo{
    opacity: 0;
  }
  .cont-logo{
    display: none;
  }
  .logo-sigla,
  .menu-img{
    position: absolute;
    top:-5px;
    opacity: 0;
    width: 30px;
    transition: ease-out 1s;
    transform: rotate(360deg);
  }
  .menu-img{
    z-index: 1;
  }
  .toggle{
    opacity: 1;
  }
  #inicio{
    display: block;
  }
  #m_social{
    display: block;
  }
  #nav {
    transition: transform 0.3s scaleY(0);
    top: 60px;
    padding: 0px;
    overflow:hidden;
    position: fixed;
    left: 8px;
    height:0px;
    width: 250px;
  }
  #nav:target {     
    padding: 20px 0px;
    transition: transform 0.3s scaleY(0);
    height:400px;
  }
  #nav ul{
    padding: 0px 20px 0px 80px;
  }
  #nav ul li{
    padding: 15px 0px;
  }
  #close{
    text-decoration: none;
    font-size: 3em;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30ox;
    background-image: none;
  }
  #sitios,
  #servicios,
  #contacto{
    display:none;
    grid-column: 1 / span 1;
  }
  #capa{
  padding: 10px;
  }
  #aside ul li,
  #capa ul li{
      display: inline;
  }
  #aside ul li::after,
  #capa ul li::after{
    display: inline;
    content: " ";
    word-spacing: 1.1em;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAOElEQVQI113M0Q3AIBRC0aM76P7jmHSmSj/6mibyc4EQkEEWuYtDmU1SXO1d6H7tjgupIl8+P+cD22cff9U1wbsAAAAASUVORK5CYII=);
  }
  #logo-header{
    position:absolute;
    top: 20px;
    left: 60px;
    width: 30%;
  }
  #head-desc{
    top: 5px;
    color: #d0cfc5;
    font-size: 0.5em; 
  }
  #menu-img{
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) and (max-width:899px){
  nav ul li {
    display: inline-block;
    padding: 0px 0px;
  }
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .container header,
  .container nav,
  .container footer,
  .container section {
    grid-column: span 4;
  }
  .container aside {
    grid-column: span 4;
  }
  .container nav ul {
    width: 100%;
  }
  .container section,
  .container .aside{
    padding: 0px 50px;
  }
  .toggle {
    opacity: 0;
    transition: all 1s;
  }
  .logo{
    opacity: 0;
    /* display:none; */
    /* width: 100px; */
  }
  .logo-sigla,
  .menu-img{
    position: absolute;
    top:-15px;
    width: 60%;
    transition: all 0.5s;
    transform: rotate(-360deg);
  }
  .cont-logo{
    display: none;
  }
  .close {
    display:none;
  }
  #aside ul li,
  #capa ul li{
    display: inline;
  }
  #aside ul li::after,
  #capa ul li::after{
    display: inline;
    content: " ";
    word-spacing: 1.1em;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAOElEQVQI113M0Q3AIBRC0aM76P7jmHSmSj/6mibyc4EQkEEWuYtDmU1SXO1d6H7tjgupIl8+P+cD22cff9U1wbsAAAAASUVORK5CYII=);
  }

  #cont-des-aside{
    grid-template-columns: repeat(7, 1fr);
  }
  #foto{
    grid-column: span 1;
    grid-row: span 1;
  }
  #capa{
    grid-column: span 6;
    grid-row: span 1;
  padding-left: 50px;

  }
  #logo-sigla{
    opacity: 1;
    z-index: 1;
  }
  #menu-img{
    opacity: 0;
    z-index: 0;
  }
  #head-desc{
    font-size: 0.7em; 
  }
  #logo-header{
    width: 60%;
  }
}
@media only screen and (min-width:900px) {
  nav ul li {
    display: inline-block;
    padding: 0px 0px;
  }
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .container header,
  .container nav,
  .container footer {
    grid-column: span 4;
  }
  .container section {
    grid-column: span 3;
  }
  .toggle {
    opacity: 0;
  transition: all 1s;
  }
  .logo-sigla,
  .menu-img{
    position: absolute;
    top:-10px;
    width: 80%;
    transition: all 0.5s;
    transform: rotate(-360deg);
  }
  .cont-logo{
    display: block;
  }
  .close {
    display:none;
  }
  #logo{
    right: 0px;
    top: 10px;
    padding: 10px;
    position: absolute;
    transition: all 1s;
  }
  #logo-sigla{
    opacity: 1;
    z-index: 1;
  }
  #menu-img{
    opacity: 0;
    z-index: 0;
  }
}
